* {
	box-sizing: border-box;
}

/* reset UI styles */
button, input {
	font: inherit;
	background: none;
	border: none;
	border: 1px solid black;
	border-radius: 3px;
	padding: 3px 6px;
	line-height: 1;
	vertical-align: middle;
	text-decoration: none;
}

#container {
	max-width: 800px;
	margin: 0 auto;
	border-radius: 50px 20px;
}

#title{
	text-align: center;
	padding-top: 50;
	padding-bottom: 50;
	margin: 50px 0 50px 0;
	font-size: 50px;
}

img{
	width: 70%;
	align-items: left;
}

#publish-button{
	margin-top: 5px;
}

#user-info{
	font-family: 'Yeon Sung', sans-serif ;
	font-size: 20px;
	text-align: center;
}

#login{
	text-align: center;
	padding-bottom: 20px;
	float: right;
}

#user-info {
	margin-bottom: 1em;
}

#create-button{

}

body.auth #login {
	display: none;
}

body.auth #login {
	display: none;
}

body.auth #profile-image-input,
body.auth #update-profile-image,
body.auth #user-info {
	display: block;
}

/* not authenticated */
#profile-image-input,
#update-profile-image,
body #user-info {
	display: none;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

#nav{
	float: left;
	display: block;
 	padding: 8px;
 	text-decoration: none;
 	margin: 30px 10px 10px 10px;
 	position: absolute;
 	align-content: center;
 	border-bottom-left-radius: 1em;
 	border-bottom-right-radius: 1em;
}

li{
	list-style: none;
	display: inline;
	text-align: center;
}

#home{
	margin-right: 200px;
}

#post-bg{
	max-width: 900px;
	margin: 0 auto;
	border-radius: 50px 20px;
}