.post {
	border-radius: 2em;
	margin-top: 1em;
	margin-bottom: 50px;
	
	display: flex;
	justify-content: space-between;
	background-color: rgba(255,255,255,.70);
}

.post-text {
	padding: 1em;
	padding-top: 110px;
	width: 200px;
}

.post-author {

}

.post-date {
	
}

.post-profile-image {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 100px;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 10px 10px 10px 10px;

	display: flex;
	position: absolute;

}

.post-image{
	height: 300px;
	width: 400px;
	margin: 30px 20px 30px 20px;
}