.post {
	border-radius: 2em;
	margin-top: 1em;
	margin-bottom: 50px;
	border-width: 10px;
	border: 2px solid;
	display: flex;
	height: 600px;
	justify-content: space-between;
	border-color: #ebebeb;
	background-color: #faf8f6;
}

.post-text {
	padding: 1em;
	padding-top: 110px;
	width: 200px;
}

.post-author {

}

.post-date {
	
}

.post-profile-image {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 100px;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 10px 10px 10px 10px;
	display: flex;
	position: absolute;

}

.post-image{
	height: 580px;
	width: 600px;
	margin-top: auto;
	margin-bottom: auto;
}